.single-content {
  grid-column: 1/13;
  grid-row: 2/13;
  background-color: var(--color-black-04);
  padding-bottom: 2rem;
  overflow: auto;
}
.box {
  margin: auto;
  width: 95%;
  display: flex;
  padding: 2rem 0;
  gap: 1.5rem;
}
.main-area {

  flex-basis: 75%;
  
}
.main-area .line-horz {
  height: 0.15rem;
  border: none;
  background-color: var(--color-black-02);
  margin: 1.5rem 0;
  width: 100%;
  margin-bottom: 2rem;
}
.main-area .actions {
  margin-left: auto;
}
.main-area .actions .react-icons {
  margin-right: .5rem;
}
.suggestion-area {
  flex-basis: 25%;
  min-width: 18.75rem;
  width: 25.125;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

 .pointer-cursor{
  cursor: pointer;
}

.main-area  .modal{
  width:12.5rem
}
.main-area  .modal  input{
  border: none;
  border-bottom: 2px solid var(--color-black-02);
}

@media (max-width: 778px) {
  .single-content {
    grid-row: 2/12;
  }
  .box {
    flex-wrap: wrap;
  }
  .main-area{
    flex-basis: 100%;
  }
  .suggestion-area {
    flex-basis: 95%;
    margin: auto;
  }
}
